<article class="record" id="<%= dom_id project %>">
  <header>
    <p class="title"><%= project.name %></p>
    <span class="mono" style="color: var(--muted);">№ <%= format("%04d", project.id) %></span>
  </header>
</article>
