<p style="color: green"><%= notice %></p>

<% content_for :title, "Projects" %>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <% if allowed_to?(:show, project) %>
        <%= link_to "Show this project", project %>
      <% end %>
    </p>
  <% end %>
</div>

<% if allowed_to?(:new, Project) %>
  <%= link_to "New project", new_project_path %>
<% end %>
