<% content_for :title, "Editing pay run" %>

<h1>Editing pay run</h1>

<%= render "form", pay_run: @record %>

<div class="actions-row">
  <%= link_to "Show this pay run", @record %>
  <%= link_to "Back to payroll", pay_runs_path %>
</div>
