<%# One-click act-as picker. POST-only (button_to), never GET links. %>
<details class="switcher">
  <summary>Act as a persona…</summary>
  <ul class="switcher__list">
    <% act_as_personas.each do |persona| %>
      <li>
        <%= button_to persona.email_address, act_as_path(id: persona.id),
              method: :post, class: "button--quiet" %>
      </li>
    <% end %>
  </ul>
</details>
