<% content_for :title, "Editing report" %>

<h1>Editing report</h1>

<%= render "form", report: @report, projects: @projects %>

<div class="actions-row">
  <%= link_to "Show this report", @report %>
  <%= link_to "Back to reports", reports_path %>
</div>
